h1 {
	margin: 10px 0;
	font-size: 2em;
}
ul {
	width: 250px;
	background-color: #ffffff;
	margin: 10px 0;
	padding: 10px;
	border: black solid 1pt;
	list-style-type: none;
}
li{
	font-weight: bold;
	margin: 10px;
}

input {
  padding: 7px;
  border: solid 1px #dcdcdc;
}

button {
  background-color: #2ecc71;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: lighter;
}

button:hover {
  background-color: #27ae60;
}